@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.video-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
 }
 
 .video-container video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .button {
   position: absolute;
   bottom: 20px;
   right: 20px;
   padding: 10px 20px;
   font-size: 18px;
   color: #fff;
   background-color: #007bff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .button:hover {
   background-color: #0056b3;
 }
.App {
 font-family: sans-serif;
 text-align: center;
}

.image {
   height: 740px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
  }
.button {
   margin-left: 550px;
margin-right: 580px;
margin-bottom:190px;
 padding: 35px 30px;
 text-decoration: none;
 color: yellow;
 background-color: transparent;
 border: 5px solid black;
 /* border-radius: 50px; */
 transform: translateX(-50%);
 font-weight: bolder;
}

.form-box {
    max-width: 300px;
    padding: 2rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 30px;
 }
 label {
    display: block;
    margin-bottom: 0.5rem;
 }

 input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
 }

 button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
 }

 button:hover {
    background-color: #0056b3;
 }
 .no-underline {
   color: black;
   text-decoration: none;
  }
.navbar-brand{
   
   font-family: 'Honk', system-ui;
   font-size:"50px";
}
.navbar-nav{
   margin-left: 90%;
}
h1{
   font-size: 20px;
}
.flex-container{
   display: flex;
}
.buttons{
   background-color:red !important;
   color: white;
}
.select{
 box-shadow: none;
 background-color: black;
}